@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    
}
html,body{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #f0f0f0;
    padding: 10px;
}
.logo{
    width: 100px;
    height: 50px ;
    /* border-radius: 500px; */
    background: transparent;
    /* height: 100px; */
    object-fit: contain;

}
.nav-items ul {
    display: flex;
    gap: 20px;
}
.nav-items > ul > li {

    list-style-type: none;
    padding:  0px  20px;
    font-size:22px ;
    cursor: pointer;
}

.search{
    padding: 10px;
}
.res-card{

    background-color: #f0f0f0;
    
    width: 350px;
    height: 420px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}
.res-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
   
    /* padding: 5px; */
}
.res-card:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    transform: translateY(-10px);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    

    justify-content: center;
    gap: 20px;
    width: 95%;
    margin: 0 50px;
    word-wrap: break-word; /* Allows breaking words */
     overflow-wrap: break-word; /* Allows breaking words  */
}

.filter{
    padding:  5px 10px;
}
.filter-btn{
    padding: 5px 10px;
    margin: 20px;
    cursor: pointer;

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    

    justify-content: center;
    gap: 20px;
    width: 95%;
    margin: 0 50px;
    word-wrap: break-word; /* Allows breaking words */
     overflow-wrap: break-word;
    
}
.shimmer-card{
    
    background-color: #f0f0f0;
    
    width: 350px;
    height: 420px;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
    
}